# VacationPy
----

In [37]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
from scipy.stats import linregress
import json
import datetime
from datetime import datetime
from citipy import citipy

# API key import
from vacation_api_key import g_key

In [38]:
cities_df = pd.read_csv("../output_data/cities.csv")
cities_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date
0,0,Atuona,-9.8000,-139.0333,77.11,77,8,16.80,PF,1609974797
1,1,Nanortalik,60.1432,-45.2371,31.37,89,100,7.83,GL,1609974797
2,2,Havre-St-Pierre,50.2334,-63.5986,35.60,51,90,11.41,CA,1609974797
3,3,Thompson,55.7435,-97.8558,19.40,100,90,6.78,CA,1609974797
4,4,Lebu,-37.6167,-73.6500,59.40,86,11,16.40,CL,1609974797
...,...,...,...,...,...,...,...,...,...,...
471,471,Kangaatsiaq,68.3065,-53.4641,22.78,98,100,8.10,GL,1609974823
472,472,Manokwari,-0.8667,134.0833,80.87,78,98,8.05,ID,1609974823
473,473,Ukiah,39.1502,-123.2078,46.99,93,90,4.70,US,1609974787
474,474,Pando,-34.7167,-55.9500,73.40,68,40,10.29,UY,1609974823
475,475,Waingapu,-9.6567,120.2641,79.77,80,80,3.96,ID,1609974823

In [39]:
gmaps.configure(api_key=g_key)

In [40]:
locations = cities_df[['lat','long']].astype(float)
humidity = cities_df['humidity'].astype(float)

In [41]:
cities_df.dropna

<bound method DataFrame.dropna of      Unnamed: 0             city      lat      long  max temp  humidity  \
0             0           Atuona  -9.8000 -139.0333     77.11        77
1             1       Nanortalik  60.1432  -45.2371     31.37        89
2             2  Havre-St-Pierre  50.2334  -63.5986     35.60        51
3             3         Thompson  55.7435  -97.8558     19.40       100
4             4             Lebu -37.6167  -73.6500     59.40        86
..          ...              ...      ...       ...       ...       ...
471         471      Kangaatsiaq  68.3065  -53.4641     22.78        98
472         472        Manokwari  -0.8667  134.0833     80.87        78
473         473            Ukiah  39.1502 -123.2078     46.99        93
474         474            Pando -34.7167  -55.9500     73.40        68
475         475         Waingapu  -9.6567  120.2641     79.77        80

     cloudiness  wind speed country        date
0             8       16.80      PF  1609974797
1           100        7.83      GL  1609974797
2            90       11.41      CA  1609974797
3            90        6.78      CA  1609974797
4            11       16.40      CL  1609974797
..          ...         ...     ...         ...
471         100        8.10      GL  1609974823
472          98        8.05      ID  1609974823
473          90        4.70      US  1609974787
474          40       10.29      UY  1609974823
475          80        3.96      ID  1609974823

[476 rows x 10 columns]>

In [42]:
cities_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date
0,0,Atuona,-9.8000,-139.0333,77.11,77,8,16.80,PF,1609974797
1,1,Nanortalik,60.1432,-45.2371,31.37,89,100,7.83,GL,1609974797
2,2,Havre-St-Pierre,50.2334,-63.5986,35.60,51,90,11.41,CA,1609974797
3,3,Thompson,55.7435,-97.8558,19.40,100,90,6.78,CA,1609974797
4,4,Lebu,-37.6167,-73.6500,59.40,86,11,16.40,CL,1609974797
...,...,...,...,...,...,...,...,...,...,...
471,471,Kangaatsiaq,68.3065,-53.4641,22.78,98,100,8.10,GL,1609974823
472,472,Manokwari,-0.8667,134.0833,80.87,78,98,8.05,ID,1609974823
473,473,Ukiah,39.1502,-123.2078,46.99,93,90,4.70,US,1609974787
474,474,Pando,-34.7167,-55.9500,73.40,68,40,10.29,UY,1609974823
475,475,Waingapu,-9.6567,120.2641,79.77,80,80,3.96,ID,1609974823

In [43]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
weather_conditions_df = cities_df.loc[(cities_df['max temp'] < 90) &
                                      (cities_df['max temp'] > 80) & 
                                      (cities_df['wind speed'] < 10) & 
                                      (cities_df['cloudiness'] < 20)].dropna()

weather_conditions_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date
156,156,Santa Fe,-31.6333,-60.7000,80.01,41,18,4.00,AR,1609974553
259,259,San Juan,-31.5375,-68.5364,80.92,30,6,4.85,AR,1609974787
265,265,San Salvador,13.6894,-89.1872,82.40,54,0,4.70,SV,1609974812
379,379,UruÃ§uÃ­,-7.2294,-44.5561,81.59,64,11,7.34,BR,1609974818
391,391,Young,-32.6833,-57.6333,82.00,46,10,4.00,UY,1609974818
413,413,Balsas,-7.5325,-46.0356,80.92,56,12,3.53,BR,1609974820

In [45]:
hotel_df = weather_conditions_df
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date,Hotel Name
156,156,Santa Fe,-31.6333,-60.7000,80.01,41,18,4.00,AR,1609974553,
259,259,San Juan,-31.5375,-68.5364,80.92,30,6,4.85,AR,1609974787,
265,265,San Salvador,13.6894,-89.1872,82.40,54,0,4.70,SV,1609974812,
379,379,UruÃ§uÃ­,-7.2294,-44.5561,81.59,64,11,7.34,BR,1609974818,
391,391,Young,-32.6833,-57.6333,82.00,46,10,4.00,UY,1609974818,
413,413,Balsas,-7.5325,-46.0356,80.92,56,12,3.53,BR,1609974820,

In [46]:
hotel_search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "keyword": "hotel",
    "radius": "5000",
    "type": "hotel",
    "key": g_key,
}

In [47]:
for index, row in hotel_df.iterrows():
    
    latitude = row['lat']
    longitude = row['long']
    city_name = row['city']
    params["location"] = f"{latitude},{longitude}"
    response = requests.get(hotel_search_url, params=params).json()
    results = response['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    
    except(IndexError):
        print('"Missing field/result... skipping."')

hotel_df = hotel_df.loc[hotel_df['Hotel Name']!=""]

hotel_df

,Unnamed: 0,city,lat,long,max temp,humidity,cloudiness,wind speed,country,date,Hotel Name
156,156,Santa Fe,-31.6333,-60.7000,80.01,41,18,4.00,AR,1609974553,InterTower Hotel
259,259,San Juan,-31.5375,-68.5364,80.92,30,6,4.85,AR,1609974787,Hotel ViÃ±as del Sol
265,265,San Salvador,13.6894,-89.1872,82.40,54,0,4.70,SV,1609974812,InterContinental San Salvador-Metrocentro Mall
379,379,UruÃ§uÃ­,-7.2294,-44.5561,81.59,64,11,7.34,BR,1609974818,Hotel Ideal UruÃ§uÃ­
391,391,Young,-32.6833,-57.6333,82.00,46,10,4.00,UY,1609974818,Hotel Young
413,413,Balsas,-7.5325,-46.0356,80.92,56,12,3.53,BR,1609974820,Hotel 10 Balsas

In [48]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "long"]]

In [49]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))